.keys {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 100px 100px;
      grid-template-columns: 100px 100px 100px;
  min-height: 60vh;
  margin-top: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.keys:before {
  top: 0;
  left: 0;
  width: 500px;
  background: #30ebf1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  pointer-events: none;
}

.keys:hover:before {
  left: -50%;
  -webkit-transform: skewX(-5deg);
          transform: skewX(-5deg);
}

.key {
  text-align: center;
  width: 4rem;
  height: 4rem;
  border: 0.4rem solid #111111;
  border-radius: 0.5rem;
  margin: 0rem;
  font-size: 1rem;
  -webkit-transition: all 0.07s ease;
  transition: all 0.07s ease;
  color: white;
}

.playing {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-box-shadow: 0 0 1rem #00f8f8;
          box-shadow: 0 0 1rem #00f8f8;
}

kbd {
  display: block;
  font-size: 2rem;
}

.sound {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #d600ff;
}

.menu-btn {
  position: fixed;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #00ff9f;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
          transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
}

.menu.show {
  visibility: visible;
}

.menu-branding, .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.menu-nav {
  margin: 0;
  padding: 0;
  background: #141414;
  list-style: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-nav.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu .nav-item {
  -webkit-transform: translate3d(600px, 0, 0);
          transform: translate3d(600px, 0, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  font-family: 'OCR A';
}

.menu .nav-item.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu .nav-item.current > a {
  color: #00ff9f;
}

.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: set-text-color(floralwhite);
  text-decoration: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu .nav-link:hover {
  color: #00f8f8;
}

.nav-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #111111;
  font-family: "OCR A", Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

.text-secondary {
  color: #00ff9f;
}

.text-third {
  color: #00f8f8;
}

.text-forth {
  color: #d600ff;
}

.tubeContainer {
  width: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.showcase::after {
  content: "";
  height: 100vh;
  width: 100%;
  background-image: url("../img/warmth.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}

.showcase:hover::after {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.showcase:hover .splashContent {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.splashContent {
  color: floralwhite;
  position: absolute;
  z-index: 1;
  top: 5%;
  left: 50%;
  margin-top: 105px;
  margin-left: -145px;
  width: 300px;
  height: 350px;
  text-align: center;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}

.splashContent .logo {
  height: 180px;
  width: 180px;
}

.splashContent .title {
  font-size: 2.2rem;
  margin-top: 1rem;
}

.splashContent .text {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 1rem;
}

@font-face {
  font-family: "Genericons";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.eot") format("truetype");
}

.container {
  margin: 50px auto;
  width: 50%;
}

header h1 {
  color: floralwhite;
  margin-bottom: 10px;
  text-align: center;
}

.accordion {
  background: transparent;
  width: 100%;
  min-width: 800px;
  display: block;
  list-style-type: none;
  overflow: hidden;
  height: 200px;
  font-size: 0;
}

.tab {
  display: inline-block;
  background-color: transparent;
  border-right: #00ff9f 1px solid;
  width: 80px;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin: 2;
  -webkit-transition: all 0.5s ease-in-out 0.1s;
  transition: all 0.5s ease-in-out 0.1s;
}

.tab:hover {
  width: 450px;
  border-right: #d600ff 15px solid;
}

/* /// before and after psuedo elements- 
  to add content through css*/
.tab:hover .social a:before {
  margin-left: -100px;
}

.tab:hover .social a:after {
  margin-left: -5px;
}

.tab .content {
  color: #222;
  background: floralwhite;
  width: 360px;
  height: 200px;
  margin-left: 80px;
  padding: 5px 0 0 15px;
  position: relative;
  word-wrap: normal;
}

.tab .content h1 {
  font-size: 1rem;
  margin-bottom: 5px;
}

.tab .content p {
  font-size: 0.85rem;
  line-height: 1rem;
  padding-right: 25px;
}

.social a:after,
.social a:before {
  -webkit-transition: all 0.4s ease-in-out 0.1s;
  transition: all 0.4s ease-in-out 0.1s;
  width: 80px;
  height: 200px;
  position: absolute;
  text-indent: 0;
  padding-top: 90px;
  padding-left: 25px;
  display: block;
  font: normal 30px Genericons;
  color: floralwhite;
}

.social a:after {
  font-size: 48px;
  padding-left: 20px;
  padding-top: 80px;
  margin-left: 85px;
}

.bio a:before,
.bio a:after {
  content: "\f304";
}

.bio a:after {
  background-color: transparent;
  color: #00ff9f;
}

.skills a:before,
.skills a:after {
  content: "\f200";
}

.skills a:after {
  background-color: transparent;
  color: #00ff9f;
}

.hobbies a:before,
.hobbies a:after {
  content: "\f102";
}

.hobbies a:after {
  background-color: transparent;
  color: #00ff9f;
}

.linkedin a:before,
.linkedin a:after {
  content: "\f208";
}

.linkedin a:after {
  background-color: transparent;
  color: #00ff9f;
}

.instagram a:before,
.instagram a:after {
  content: "\f215";
}

.instagram a:after {
  background-color: transparent;
  color: #00ff9f;
}

.github a:before,
.github a:after {
  content: "\f200";
}

.github a:after {
  background-color: transparent;
  color: #00ff9f;
}

.center {
  text-align: center;
  margin: auto;
}

.mainCol {
  background: #111111;
}

.box1 {
  background: #111111;
  border: 2px solid #00f8f8;
  width: 500px;
  margin: auto;
  margin-bottom: 1rem;
}

.box1:before {
  content: '';
  top: 0;
  left: 0;
  width: 500px;
  background: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  pointer-events: none;
}

.box1:hover:before {
  left: -50%;
  -webkit-transform: skewX(-5deg);
          transform: skewX(-5deg);
}

.vz-wrapper {
  height: 100vh;
}

.bg-light {
  background: floralwhite;
  color: #111111;
  /* box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
      -30px 0px 40px rgba(0, 0, 0, 0.1);*/
}

.bg-dark {
  background: transparent;
  color: floralwhite;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

footer p {
  margin-top: 2;
}

@media (max-width: 950px) {
  .container {
    width: 95%;
  }
  .tab {
    display: block;
    width: 100%;
    border-bottom: 3px #00ff9f solid;
  }
  .accordion {
    display: block;
    min-width: 450px;
    height: auto;
  }
  .tab .content {
    width: 85%;
    word-wrap: normal;
  }
  .tab:hover {
    width: 100%;
  }
}

@media (max-width: 680px) {
  .showcase::after {
    filter: none;
    -webkit-filter: none;
  }
  .container {
    width: 95%;
  }
  .accordion {
    width: 100%;
    min-width: 350px;
  }
  .tab .content {
    width: 85%;
    word-wrap: normal;
  }
}
/*# sourceMappingURL=main.css.map */