* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: rgba(0, 0, 0, 0.9);
  font-family: "OCR A", Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

.showcase::after {
  content: "";
  height: 100vh;
  width: 100%;
  background-image: url("../img/warmth.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: all 1000ms;
}

.showcase:hover::after {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.showcase:hover .splashContent {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.context {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem;
}
.splashContent {
  color: floralwhite;
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 50%;
  margin-top: 105px;
  margin-left: -145px;
  width: 300px;
  height: 350px;
  text-align: center;
  transition: all 1000ms;
}

.splashContent .logo {
  height: 180px;
  width: 180px;
}

.splashContent .title {
  font-size: 2.2rem;
  margin-top: 1rem;
}

.splashContent .text {
  font-size: 1.1rem;
  line-height: 1.7;
  margin-top: 1rem;
}

@font-face {
  font-family: "Genericons";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.woff")
      format("woff"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.eot")
      format("truetype");
}

.container {
  margin: 50px auto;
  width: 50%;
}

header h1 {
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
}

.accordion {
  background: transparent;

  width: 100%;
  min-width: 800px;
  display: block;
  list-style-type: none;
  overflow: hidden;
  height: 200px;
  font-size: 0;
}

.tab {
  display: inline-block;
  background-color: transparent;
  border-right: #00ff9f 1px solid;
  width: 80px;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin: 0;
  transition: all 0.5s ease-in-out 0.1s;
}
.tab:hover {
  width: 450px;
  opacity: 1;
  border-right: #d600ff 15px solid;
}
/* before and after psuedo elements- 
to add content through css*/
.tab:hover .social a:before {
  margin-left: -100px;
}

.tab:hover .social a:after {
  margin-left: -5px;
}

.tab .content {
  background: #fff;
  width: 360px;
  height: 200px;
  margin-left: 80px;
  padding: 5px 0 0 15px;
  position: relative;
}

.tab .content h1 {
  font-size: 1rem;
  margin-bottom: 5px;
}

.tab .content p {
  font-size: 0.85rem;
  line-height: 1.4rem;
  padding-right: 5px;
}

.social a:after,
.social a:before {
  transition: all 0.4s ease-in-out 0.1s;
  width: 80px;
  height: 200px;
  position: absolute;
  text-indent: 0;
  padding-top: 90px;
  padding-left: 25px;
  display: block;
  font: normal 30px Genericons;
  color: #fff;
}

.social a:after {
  font-size: 48px;
  padding-left: 20px;
  padding-top: 80px;
  margin-left: 85px;
}

.bio a:before,
.bio a:after {
  content:"\f304";
}
.bio a:after {
  background-color: transparent;
  color: #00ff9f;
}

.skills a:before,
.skills a:after {
  content:"\f425";
}
.skills a:after {
  background-color: transparent;
  color: #00ff9f;
}

.hobbies a:before,
.hobbies a:after {
  content:"\f102";
}
.hobbies a:after {
  background-color: transparent;
  color: #00ff9f;
}

.linkedin a:before,
.linkedin a:after {
  content: "\f208";
}
.linkedin a:after {
  background-color: transparent;
  color: #00ff9f;
}

.instagram a:before,
.instagram a:after {
  content: "\f215";
}
.instagram a:after {
  background-color: transparent;
  color: #00ff9f;
}

.github a:before,
.github a:after {
  content:"\f200";
}
.github a:after {
  background-color: transparent;
  color: #00ff9f;
}
.center {
  text-align: center;
  margin: auto;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
  /* box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
    -30px 0px 40px rgba(0, 0, 0, 0.1);*/
}

.bg-dark {
  background: #333;
  color: #f4f4f4;
}

footer {
  padding: 2.2rem;
}

footer p {
  margin: 0;
}
/* ------------------------ media queries */
/* Small Screens */
@media (max-width: 560px) {
  .showcase::after {
    height: 50vh;
    filter: blur(0px);
  }

  .splashContent {
    top: 5%;
    margin-top: 5px;
  }

  .splashContent .title {
    font-size: 2.2rem;
    margin-top: 1rem;
  }

  .splashContent .logo {
    height: 140px;
    width: 140px;
  }

  /* .content .text {
      display: none;
    } */

  .container {
    width: 95%;
  }

  .accordion {
    width: 100%;
    min-width: 350px;
  }
}

/* Landscape */
@media (max-height: 500px) {
  .splashContent .title,
  .splashContent .text {
    display: none;
  }

  .splashContent {
    top: 0;
  }
}
